  <ion-view view-title="Contact Us">
    <ion-content>
      <div class="card">
          <div class ="item item-divider">
           Location Information
          </div>
          <div class = "row">
            <div class ="col-60">
              <div class="item item-text-wrap">
                <h2>
                  Our Address
                </h2>
                <p>121, Clear Water Bay Road
                  Clear Water Bay, Kowloon
                  HONG KONG
                </p>
                <i class ="icon icon ion-android-call"> : +852 1234 5678</i><br>
                <i class ="icon icon ion-printer"> : +852 8765 4321</i><br>
                <i class ="icon icon ion-email"> : confusion@food.net</i>
              </div>
            </div>
          </div>
          <div class="button-bar">
            <a class="button button-positive"><i class ="icon icon ion-android-call"> Call</i></a>
            <a class="button button-calm"><i class = "icon icon ion-social-skype"> Skype</i></a>
            <a class="button button-balanced"><i class = "icon icon ion-email"> Email</i></a>
          </div>
        </div>
    </ion-content>
  </ion-view>
